/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, #root,#poker-room {
    height: 100%;
}  

.center-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ml-auto {
	margin-left: auto;
}

.App {
  background: radial-gradient(circle, rgba(31,128,43,1) 0%, rgba(7,25,10,1) 100%);
  height: 100%;
  width: 100%;
}

#poker-room {
  background: radial-gradient(circle, rgba(31,128,43,1) 0%, rgba(7,25,10,1) 100%);
  flex-direction: column;
}

#app-container {
	max-width: 1200px;
	margin: 0 auto;
}

#poker-table {
	height: 35%;
    width: 40%;
    display: flex;
    position: relative;
    border: 2rem solid #000;
    border-radius: 3rem;
    background: rgb(0,145,214);
    background: radial-gradient(circle, rgba(0,145,214,1) 0%, rgba(18,71,144,1) 100%);
}

#poker-table .playing-card {
	margin-right: 0.5rem;
}

#poker-table .playing-card:last-of-type {
	margin-right: 0;
}

#table-center {
	display: flex;
	align-items: center;
}

#total-pot {
	background-color: #fff;
	border: 1px solid #000;
	height: fit-content;
	padding: 0.5rem;
	position: absolute;
    right: 3rem;
}

#poker-players-container {
    height: 65%;
    width: 70%;
    position: absolute;
}

.player-container {
	display: flex;
	flex-direction: row;
	position: absolute;
}

.player-container .player-cards {
	max-height: 5rem;
}

.player-container .card-area {
	top: 5rem;
}

.player-position-0 {
	top: 5%;
}

.player-position-1 {
	top: 25%;
    right: 10%;
}

.player-position-2 {
    top: 65%;
    right: 10%;
}

.player-position-3 {
	bottom: 5%;
}

.player-position-4 {
	bottom: 25%;
    left: 10%;
}

.player-position-5 {
	top: 25%;
    left: 10%;
}

.player-turn .seat, .player-turn .player-info {
	border: 3px solid #fff;
	box-shadow: 0px 0px 10px 5px rgba(255,255,255,0.5);
}

.player-info {
    width: 15rem;
    position: fixed;
    background: #d5c4ff;
    z-index: 5;
    margin-left: 4rem;
	border-radius: 0.5rem;
}

.player-additional {
	position: absolute;
	top: 8rem;
	z-index: 100;
}

.player-name {
	background-color: #763476;
	padding: 0.5rem 4rem;
	color: #fff;
	border-top-right-radius: 0.5rem;
}

.player-cards {
	z-index: 99;
	display: flex;
	cursor: pointer;
}

.playing-card {
	position: relative;
}

.player-cards .playing-card:first-child {
	transform: rotate(354deg);
}

.player-cards .playing-card:nth-child(2) {
	transform: rotate(8deg);
	right: 4.5em;
    top: 0.5rem;
}

.playing-card {
    max-height: 8rem;
}

.player-chips {
	padding: 0.5rem 4rem;
	font-size: 1.6rem;
}

.player-area {
  height: 20%;
  z-index: 20;
}

.seat {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(43,42,40,1) 0%, rgba(18,8,1,1) 100%);
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.taken-seat {
	background-color: #000;
}

.seat.inactive img {
	opacity: 0.5;
}

.player-name-container {
	z-index: 99;
    border: 1px solid #000;
	border-radius: 0.5rem;
    position: absolute;
	padding: 1rem;
	background: #d5c4ff;
}

.player-name-container label {
	display: block;
	margin-bottom: 0.5rem;
}

.player-name-selection {
    display: flex;
}

.player-name-selection input {
	line-height: 2rem;
}

.player-name-selection button {
	margin-left: 1rem;
	color: #fff;
    background-color: #4a79c1;
    border: 3px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.card-area {
	position: absolute;
	display: flex;
}

#player1-area .card-area {
	bottom: 9rem;
}

#player1-area .button {
	position: relative;
}

#player2-area .card-area {
	top: 9rem;
}

#player2-area .button {
	position: relative;
	top: 4rem;
}

#new-game-btn {
	padding: 1rem 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
	cursor: pointer;
}

.button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
}

.big-blind {
	background-color: #f0f400;
}

.small-blind {
	background-color: #f48e00;
}

.big-blind, .small-blind {
	z-index: 99;
}

#player-actions {
    position: fixed;
	width: 25rem;
}

#player-actions button {
	color: #fff;
    border: 3px solid #fff;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.5rem;
	cursor: pointer;
    margin-right: 0.75rem;
	flex-basis: 100%;
}

.error-message {
	color: #e32e2e;
	margin-bottom: 0.5rem;
}

.bet-btn {
    background: rgb(88 185 41);
}

.check-btn {
	background: rgb(71 143 247);
}

.fold-btn {
	background: rgb(173,36,36);
}

#player-actions button:last-child {
	margin-right: 0;
}

#actions-container {
	display: flex;
}

.slider-container {
    margin-top: 1.5rem;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
  }

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
	background: #fff;
	height: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
	background: #fff;
	height: 0.5rem;
  }

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -12px; /* Centers thumb on the track */
	background-color: #763476;
	height: 2rem;
	width: 1rem;    
 }