/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html, body, #root,#poker-room {
    height: 100%;
}  

.center-align {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ml-auto {
	margin-left: auto;
}

.App {
  background-color: #161616;
  height: 100%;
  width: 100%;
}

#poker-room {
  background-color: #161616;
  flex-direction: column;
}

#poker-table {
  height: 50%;
  width: 60%;
  background-color: #14A534;
  border-radius: 50%;
  display: flex;
}

#total-pot {
	margin-right: 5rem;
	background-color: #fff;
	border: 1px solid #000;
	height: fit-content;
	padding: 0.5rem;
}

.player-container {
	display: flex;
	flex-direction: row;
	position: relative;
}

.player-info {
    width: 15rem;
    position: fixed;
    background: #d5c4ff;
    z-index: 5;
    margin-left: 4rem;
	border-radius: 0.5rem;
}

.player-name {
	background-color: #763476;
	padding: 0.5rem 4rem;
	color: #fff;
	border-top-right-radius: 0.5rem;
}

.player-cards {
	display: flex;
	cursor: pointer;
}

.player-cards .playing-card:first-child {
	margin-right: 0.5rem;
}

.playing-card {
    max-height: 7rem;
}

.player-chips {
	padding: 0.5rem 4rem;
	font-size: 1.6rem;
}

.player-area {
  height: 20%;
}

.seat {
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  overflow: hidden;
  z-index: 10;
}

.card-area {
	position: absolute;
	display: flex;
}

#player1-area .card-area {
	bottom: 8rem;
}

#player1-area .button {
	position: relative;
}

#player2-area .card-area {
	top: 8rem;
}

#player2-area .button {
	position: relative;
	top: 4rem;
}

#new-game-btn {
	padding: 1rem 1.5rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
	cursor: pointer;
}

.button {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
	border: 1px solid #000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 0.5rem;
}

.big-blind {
	background-color: #f0f400;
}

.small-blind {
	background-color: #f48e00;
}

.big-blind, .small-blind {
	margin-left: 1rem;
}

#player-actions {
    position: fixed;
    left: 5rem;
    bottom: 5rem;
	width: 30rem;
}

#player-actions button {
	color: #fff;
    background-color: #4a79c1;
    border: 3px solid #fff;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 0.5rem;
	cursor: pointer;
	margin-right: 1rem;
	flex-basis: 100%;
}

#player-actions button:last-child {
	margin-right: 0;
}

#actions-container {
	display: flex;
}

.slider-container {
    margin-top: 1.75rem;
}

input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	cursor: pointer;
	width: 100%;
  }

/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
	background: #fff;
	height: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
	background: #fff;
	height: 0.5rem;
  }

/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none; /* Override default look */
	appearance: none;
	margin-top: -12px; /* Centers thumb on the track */
	background-color: #0dc2de;
	height: 2rem;
	width: 1rem;    
 }