$poker-room-bg-gradient-1: #1f802b;
$poker-room-bg-gradient-2: #07190a;

$poker-table-bg-gradient-1: #0091d6;
$poker-table-bg-gradient-2: #124790;

$seat-bg-gradient-1: #2b2a28;
$seat-bg-gradient-2: #120801;

$alert-color: #e32e2e;

$big-blind-bg: #f0f400;
$small-blind-bg: #f48e00;

$raise-btn-bg: #58b929;
$check-btn-bg: #478ff7;
$fold-btn-bg: #ad2424;

$bg-light: #fff;
$bg-dark: #000;

$text-light: #fff;

$border-dark: #000;
$border-light: #fff;

$disabled-bg: #ccc;
$disabled-text: #515151;

$colour1: #763476;
$colour2: #d5c4ff;
$colour3: #4a79c1;

$highlight-glow: rgba(255,255,255,0.5);